

p{
  text-align: justify;
}
.r1{
  height: 10%;
  float: left;
}
.r2{
  height: 20%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.r3{
  height: 30%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.r4{
  height: 40%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.r5{
  height: 50%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.r6{
  height: 60%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.r7{
  height: 70%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.r8{
  height: 80%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.r9{
  height: 90%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.r10{
  height: 100%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.c1{
  width: 10%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.c2{
  width: 20%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.c3{
  width: 30%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.c4{
  width: 40%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.c5{
  width: 50%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.c6{
  width: 60%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.c7{
  width: 70%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.c8{
  width: 80%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.c9{
  width: 90%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.c10{
  width: 100%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.leftrm{
  margin-left: 0;
}
.rightrm{
  margin-right: 0;
}
.img{
  margin-left: 80px;
  width: 60%
}
